body {
	font-family: sans-serif;
}

#gists, #faves {
	min-height: 100px;
	float: left;
	width: 48%;
	background-color: #E6E6E6;
	border-radius: 5px;
	padding: 10px;
}

#faves {
	float: right;
}

#id {
	float: left;
	margin-right: 3px;
}

#desc {
	float: left;
}

button {
	border-radius: 50%;
	background-color: #3399FF;
}

h3 {
	text-align: center;
}